Repository aws/lex-helper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, docs-quality-check

pytest:
  name: pytest
  entry: uv run pytest
  language: system
  description: Run pytest test suite
  args:
  - tests/
  - --tb=short
  - -v
  - --durations=10
  pass_filenames: false

docs-quality-check:
  name: docs-quality-check
  entry: uv run python scripts/pre-commit-docs-check.py
  language: system
  description: Run documentation quality checks (code examples, build test, links)
  pass_filenames: true

fix doc test dependencies
  .github/workflows/docs.yml
  docs/BEST_PRACTICES.md
  docs/LAMBDA_LAYER_DEPLOYMENT.md
  docs/SUPPORT.md
  docs/TESTING_GUIDE.md
  scripts/pre-commit-docs-check.py
Due: docs-quality-check

🎨 Removed unnecessary or inaccurate doc links, removed dark/light mode, made corrections
  docs/DEVELOPMENT.md
  docs/SECURITY.md
  docs/SUPPORT.md
  docs/api/index.md
  docs/community/changelog.md
  docs/community/contributing.md
  docs/community/support.md
  docs/examples/index.md
  docs/getting-started/first-chatbot.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/index.md
  docs/migration/breaking-changes.md
  docs/smart-disambiguation.md
  mkdocs.yml
Due: docs-quality-check

improved docs sidebar
  Makefile
  docs/stylesheets/extra.css
  scripts/serve-docs.py
Due: none

fixed whitespace missing at end of file
  docs/stylesheets/extra.css
Due: none

chore: bump version to 0.0.3
  CHANGELOG.md
  lex_helper/__init__.py
Due: pytest

removed "speechFoundationModel":null which prevents corretly importing the bot
  examples/sample_airline_bot/lex-export/LexBot/BotLocales/en_US/BotLocale.json
  examples/sample_airline_bot/lex-export/LexBot/BotLocales/it_IT/BotLocale.json
Due: none

Various minor edits to sample airline bot committedbug fixes
  .gitignore
  examples/sample_airline_bot/lambdas/fulfillment_function/pyproject.toml
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/anything_else.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/authenticate.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/book_flight.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/cancel_flight.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/change_flight.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/fallback_intent.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/flight_delay_update.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/goodbye.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/greeting.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/track_baggage.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/messages/messages_en_US.yaml
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/messages/messages_it_IT.yaml
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/utils/config.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/utils/reservation_utils.py
  examples/sample_airline_bot/lambdas/fulfillment_function/uv.lock
Due: none

lint errors fixed
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/anything_else.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/authenticate.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/book_flight.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/cancel_flight.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/change_flight.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/fallback_intent.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/flight_delay_update.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/goodbye.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/greeting.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/track_baggage.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/utils/config.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/utils/reservation_utils.py
Due: none

lint reformatting
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/anything_else.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/authenticate.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/book_flight.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/cancel_flight.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/change_flight.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/fallback_intent.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/flight_delay_update.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/goodbye.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/greeting.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/track_baggage.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/utils/config.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/utils/reservation_utils.py
Due: none

use generated type-safe enums instead of string literals:
  examples/sample_airline_bot/lambdas/fulfillment_function/requirements.txt
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/classes/__init__.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/classes/slot_enums.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/authenticate.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/book_flight.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/cancel_flight.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/change_flight.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/flight_delay_update.py
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/intents/track_baggage.py
  examples/sample_airline_bot/lambdas/fulfillment_function/uv.lock
Due: none

Fix pre-commit issues: trailing whitespace and EOF, add lex-fulfill-lambda-generator to gitignore
  .gitignore
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/messages/messages_en_US.yaml
  examples/sample_airline_bot/lambdas/fulfillment_function/src/fulfillment_function/messages/messages_it_IT.yaml
Due: none

Path conditions:
  pytest: any of: ^(tests/|lex_helper/).*\.py$
  docs-quality-check: any of: ^(docs/.*\.md$|mkdocs\.yml$)
